{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'categories' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
{% for category in categories %}
  {{ category.name }}<br>

{% from 'commerce/tax/taxrates/_fields' import lazyCreateSelect %}

{{ lazyCreateSelect(
  taxCategorySelectParams,
  'New tax category'|t('commerce'),
  'Create a new tax category'|t('commerce'),
  newTaxCategoryFields,
  newTaxCategoryJs,
  'commerce/tax-categories/save',
  'Tax category saved.'|t('commerce')
) }}


{% endif %}
{% endblock %}